@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 800px) {
  body {
    margin: 20px !important;
  }

  .profileContainer {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .experienceContainter {
    flex-direction: column;
  }

  .lanContainter {
    width: 100% !important;
  }

  .imgContainer {
    width: 100% !important;
  }

  .textContainer {
    width: 100% !important;
  }

  .bgColor {
    width: 100% !important;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  margin: 100px;
}

svg {
  display: inline-block;
}

.fontColor {
  color: #1e5c7b;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.experienceContainter {
  display: flex;
  align-items: flex-start;
}

.lanContainter {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.imgContainer {
  width: 400px;
}

.textContainer {
  width: 600px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

.inlineBlock {
  display: inline-block;
}

.marginLeft {
  margin-left: 50px;
}

.marginTop {
  margin-top: 20px;
  margin-bottom: 40px;
}

.marginBottom {
  margin-bottom: 10px;
}

.leftContainer {
  margin-top: 10px;
  margin-bottom: 50px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.title2 {
  font-size: 17px;
  color: gray;
}

.bgColor {
  width: 210px;
  background: #d8e6ed;
  padding-left: 3px;
}

.iconText {
  margin-left: 10px;
}
